<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/registered.css" />
		<script type="text/javascript" src="../vue/vue.min.js"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper" id="admin">
			<div class="container">
				<h1>LOGIN</h1>
				<form class="form" action="" method="post">
					<input class="in" type="text" id="username" name="username" onblur="validateUserN()" placeholder="请输入账号">
					<div style="margin-top: 5px;margin-bottom: 5px;" id="tishiUserName"></div>
					<input class="in" type="password" id="password" name="password" onblur="validatePwd()" placeholder="请输入密码">
					<div style="margin-top: 5px;margin-bottom: 5px;" id="tishiPwd"></div>
					<button type="button" id="logina">登 录</button>
				</form>
			</div>
			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<script type="text/javascript" src="../js/admin.js"></script>
	</body>

</html>