<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/registered.css" />
		<script type="text/javascript" src="../vue/vue.min.js"></script>
		<title></title>
	</head>

	<body>
		<div id="admin">
			<form action="" method="post">
				<p>请输入用户名：</p>
				<input type="text" id="username" name="username" />
				<p>请输入密码</p>
				<input type="password" id="password" name="password" />
				<button type="button" id="logina" >登录</button>
			</form>
		</div>
		<script type="text/javascript" src="../js/admin.js" ></script>
	</body>
	</html>