<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="publicity" id="publicity">
        	<div class="publicity-header">
        		<div class="title">
        			<h2>{{datas.title}}</h2>
        		</div>
        		<div class="matter">
        			<p>
        				<span>发布时间：{{datas.createtime}}</span>
        			</p>
        		</div>
        	</div>
        	<div class="publicity-content">
        		<div class="details" id="details">
        		</div>
        	</div>
       	</div>
		
		<link rel="stylesheet" href="../css/anno.css" />
        <script src="../vue/vue.min.js"></script>
        <script type="text/javascript" src="../js/anno.js"></script>
	</body>
</html>
