<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"/>
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js" ></script>
	</head>
	<body>
		<!--社区-->
		<div class="container" style="margin-top: 30px;">
			<div class="row">
				<!--好友列表-->
				<div class="col-md-2" style="background-color: whitesmoke;padding: 20px 20px;height: 600px;">
					<input type="search" name="search" id="search" value="" class="form-control" placeholder="请输入好友账号" />
					<br />
					<a href="#" class="list-group-item ">
						王健林
					</a>
					<a href="#" class="list-group-item">马云</a>
					<a href="#" class="list-group-item">李嘉诚</a>
					<a href="#" class="list-group-item">比尔盖茨</a>
					<a href="#" class="list-group-item">奥黛丽赫本</a>

				</div>
				<!--窗口-->
				<div class="col-md-10">
					<div class="container-fluid">
						<div id="bolck">
							<div class="panel panel-primary">
								
								<div class="panel-heading">
									<h3 class="panel-title">Digger社区</h3>
								</div>
								
								<div class="panel-body" id="announcement">
									<!--
							        	作者：17876253471@163.com
							        	时间：2018-09-18
							        	描述：社区帖子列表板块
							        -->
							        <p>hgjhgjhgjkhjkhgjhgjkhgjkghjkhgjhgjhJKhgjhgjhgjhgjkhjhgjh就会很高很高将会根据客户更健康</p>
							        <p>hgjhgjhgjkhjkhgjhgjkhgjkghjkhgjhgjhJKhgjhgjhgjhgjkhjhgjh就会很高很高将会根据客户更健康</p>
							        <p>hgjhgjhgjkhjkhgjhgjkhgjkghjkhgjhgjhJKhgjhgjhgjhgjkhjhgjh就会很高很高将会根据客户更健康</p>
								</div>
								
							</div>
						</div>
					</div>
						
					<div class="container-fluid">
						<input type="text" name="title" id="title" value="" class="form-control" placeholder="文章标题" />
					</div>
							
				</div>
			</div>
		</div>
	</body>
</html>
