<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>商店-Digger</title>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/home.css">
		 <script src="../bootstrap/js/jquery-1.9.1.min.js"></script>
	    <script src="../bootstrap/js/bootstrap.js"></script>
	    
	</head>
	<body>
		
    <!--顶部导航栏-->
	<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" style="margin-left: 17%; margin-right: 17%;"> 
            <ul class="nav navbar-nav">
               <li class="active"><a href="main.html?location=home">精选</a></li>
               <li><a id="toallgame" style="cursor: pointer;" href="main.html?location=etc">所有游戏</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="main.html" style="margin-right: auto;" role="search" id="search_form">
            <input type="hidden" name="location" value="etc">
                 <div class="form-group">
                     <input type="text" name="name" class="form-control" id="search_input" autocomplete="off" v-model="search_value" v-on:input="change"  placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  <!--搜索提示框-->
                  <div class="list-group" id="search_suggest">
                     <template v-if="game!=''">
                       <a v-for="value in game" :href="'main.html?location=etc&name='+value.name" class="list-group-item list-group-item-action">{{value.name}}</a>
                     </template>
                  </div>
            </form>
        </div>
    </nav>
    
    <!--整个页面的容器-->
    <div class="container" >
    	
    	<!--图片轮播-->
    	<!--<div class="row">-->
    		<div class="row" style="display: flex;flex-wrap: nowrap;align-items: center;">
	    		<div class="">
	    		    <button id="prev-btn" class="carousel-btn" style="outline: none;">
	    		    	<span class="glyphicon glyphicon-chevron-left gly-css " ></span>
	    		    </button>	
	    		</div>
	    	    <div class="col-md-12 col-xs-12">
	    		    <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel" data-interval="5000">
	                <!-- 轮播（Carousel）指标 -->
	                    <ol class="carousel-indicators">
	                       <li data-target="#myCarousel" v-for="(game,index) in games" v-bind:data-slide-to="index" :class="{'active':!index}"></li>	                       
	                    </ol>   
	                <!-- 轮播（Carousel）项目 -->
	                <div class="carousel-inner">
	                <div v-for="(game, index) in games" class="item" :class="{'active':!index}">
	                    <a :href="'main.html?location=details&id='+game.id">
	                        <img :src="game.carouseurl" style="width:100%; height: 300px;" alt="First slide">
	                        <div class="dingwei">
	                            <div class="gamename">
	                                  {{game.name}}
	                            </div>
	                            <div class="shelftime">
	                                  {{game.shelftime}}首发
	                            </div>
	                            <div class="gameprice">
	                                 <template v-if="game.price==0">
	                                 <span class="originalprice1">免费</span>
	                                 </template>
	                                 <template v-else-if="game.discount==null">
	                                 <span class="originalprice1">￥{{game.price}}</span>
	                                 </template>
	                                 <template v-else>
	                                 <span class="originalprice2">￥{{game.price}}</span>
	                                 <span class="price">￥{{game.price*game.discount*0.10}}</span>
	                                 <span class="discount">&nbsp;&nbsp;&nbsp;{{game.discount}}折</span>
	                                 </template>
	                            </div>
	                            <div class="go">
	                                                                                                     立即前往 > >
	                            </div>
	                        </div>
	                    </a>
	                    </div>	       
	                </div>
	               
	                </div>
	            </div>
	    		<div class="">
    		         <button id="next-btn" class="carousel-btn" style="outline: none;">
    		         	<span class="glyphicon glyphicon-chevron-right gly-css " ></span>
    		         </button>	
    		    </div>
        	</div>
        <!--</div>-->
        
        <div class="row">
        	<h3 class="h3-margin">热点预告</h3>
        </div>
       <div id="gamenotice">
        <div class="row" style="margin-left: 17px; margin-right: 17px;">
        	<div class="container-fluid">
        		
        	<div id="myCarousel1" class="carousel slide " data-interval="false">
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div v-for="n in sum" class="item" :class="{'active':!(n-1)}">
					<div class="row">
						<br>
			           <ul class="time-horizontal">
                          <li v-for="(game,index) in games" v-if="(n-1)*4<=index&&n*4>index"><b></b>{{game.shelftime}}首发</li>
                       </ul>
                    </div>
              </div>
            </div>
        </div>
        	</div>
        </div>   
      
      
        <!--热点预告-->
        
        <div class="row" style="display: flex;flex-wrap: nowrap;align-items: center;">
        		<div>
	    		    <button id="prev-btn1" class="carousel-btn" style="outline: none;">
	    		    	<span class="glyphicon glyphicon-chevron-left gly-css " ></span>
	    		    </button>	
    			</div>
    		
        		<div id="myCarousel2" class="carousel slide col-md-12" data-interval="false">
			      <!-- 轮播（Carousel）项目 -->
			       <div class="carousel-inner">
				      <div v-for="n in sum"
				       class="item" :class="{'active':!(n-1)}">
						      <div class="col-md-3" v-for="(game,index) in games" v-if="(n-1)*4<=index&&n*4>index">
						      	<a :href="'main.html?location=details&id='+game.id" style="text-decoration: none;">
						      	 <div class="thumbnail">
							        <img style="width:100%; height: 300px;" :src="game.coverurl" />
							        <div class="caption div-text">
                                       <h4>{{game.name}}</h4>
                                       <template v-if="game.price==0">
                                         <span  class="gamenoticeprice">免费</span >
                                       </template>
                                       <template v-else-if="game.discount==null">
                                         <span class="gamenoticeprice">￥{{game.price}}</span >
                                       </template>
                                       <template v-else>
                                       <span class="gamenoticeorig">￥{{game.price}}</span >
                                       <span  class="gamenoticeprice">￥{{game.price*game.discount*0.1}}</span >
                                       </template>
                                   </div>
							     </div>
						      	</a>
						      </div>
                     </div>
			       </div>
                </div>
                 
                 <div>
    		         <button id="next-btn1" class="carousel-btn" style="outline: none;">
    		         	<span class="glyphicon glyphicon-chevron-right gly-css " ></span>
    		         </button>	
    		    </div>
        	</div>
        </div>
        
        <div class="row">
        	<h3 class="h3-margin">限时特惠</h3>
        </div>
        
        <!--热点预告-->
        	<div class="row" style="display: flex;flex-wrap: nowrap;align-items: center;">
        		<div>
    		    <button id="prev-btn2" class="carousel-btn" style="outline: none;">
    		    	<span class="glyphicon glyphicon-chevron-left gly-css " ></span>
    		    </button>	
    		    </div>
        		<div id="myCarousel3" class="carousel slide col-md-12" data-interval="false">

			      <!-- 轮播（Carousel）项目 -->
			       <div class="carousel-inner">
				      <div v-for="n in sum" class="item" :class="{'active':!(n-1)}">
				        <template v-for="(game,index) in games" v-if="(n-1)*3<=index&&n*3>index">
				          <template v-if="(n-1)*3==index">
						      <div class="col-md-6">
						      	<a :href="'main.html?location=details&id='+game.id" style="text-decoration: none;">
						      	 <div class="thumbnail">
							        <img style="width:100%; height: 300px;" :src="game.coverurl"/>
							        <span class="gamenoticeodc"><br>{{game.discount}}折</span >
							        <div class="caption div-text1">
							        <h4>{{game.name}}</h4>
							        <span class="gamenoticeprice1">￥{{game.price*game.discount*0.1}}</span >
                                    <span class="gamenoticeorig1">￥{{game.price}}</span >
                                    <div class="deadline1">截止到 {{game.deadline}}</div>
                                   </div>
							     </div>
							    </a>
						      </div>
						   </template>
						   <template v-else>
						      <div class="col-md-3" >
						      	<a :href="'main.html?location=details&id='+game.id" style="text-decoration: none;">
						      	 <div class="thumbnail">
							        <img style="width:100%; height: 300px;" :src="game.coverurl"/>
							        <span class="gamenoticeodc"><br>{{game.discount}}折</span>
							        <div class="caption div-text1">
                                       <h4>{{game.name}}</h4>
                                       <span class="gamenoticeprice1">￥{{game.price*game.discount*0.1}}</span >                                     
                                       <span class="gamenoticeorig1">￥{{game.price}}</span>
                                       <div class="deadline">截止到 {{game.deadline}}</div>
                                   </div>
							     </div>
							    </a>
						      </div>
						    </template>
						    </template>
                     </div>
			       </div>
                </div>
                 <div>
    		         <button id="next-btn2" class="carousel-btn" style="outline: none;">
    		         	<span class="glyphicon glyphicon-chevron-right gly-css " ></span>
    		         </button>	
    		    </div>
        	</div>
        
        <div class="row" style="margin:32px;">
        	<div id="rank" class="col-md-8">
        	     <div class="row">
        	         <div class="col-md-6">
        	         	<h3 style="padding-top:5px ; margin: 0px;">更多游戏</h3>
        	         </div>
        	         <div class="col-md-6">
        	         	 <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button id="btn1" type="button" @click="newhot()" class="gameactive btn btn-default">火爆新品</button>
                                <button id="btn2" type="button" @click="weekhot()" class="btn btn-default">本周热门</button>
                                <button id="btn3" type="button" @click="newput()" class="btn btn-default">最新上架</button>
                                <button id="btn4" type="button" @click="discount()" class="btn btn-default">折扣促销</button>
                            </div>
                       </div>
        	         </div>
        	     </div> 
        	     <div class="col-md-12">
        	     <!--游戏1信息-->
						<div v-for="game in games" id="gamediv" class="row" @click="details(game.id)" style="cursor: pointer; margin-top: 20px;">
							<div class="col-md-3" style="padding: 0px; ">
								<img :src="game.surfaceurl" style="width: 190px;height: 130px;" />
							</div>
							<div class="col-md-6" style="padding-left:30px ;">
								<div>
									<h3 style="color:black;">{{game.name}}</h3>
									<p style="color:black;">{{game.shelftime}}上线</p>
									<div style="padding-bottom: 15px; color:black;">
										<button v-for="cg in game.category" class="btn btn-sm" @click="search(cg)">{{cg}}</button>
										<!-- <a style="color:black"><button class="btn btn-sm">体育竞技</button></a>
										<a style="color:black"><button class="btn btn-sm">多人联机</button></a>
										<a style="color:black"><button class="btn btn-sm">大型网游</button></a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3" style="margin-top: 50px;padding-left: 35px; float:right;">  
							    <template v-if="game.price==0">
							        <span class="gamenoticeorig2">免费</span>
							    </template>    
							    <template v-else-if="game.discount==null">                              
                                    <span class="gamenoticeorig2">￥{{game.price}}</span>
                                </template>
                                <template v-else>
                                    <span class="gamenoticeprice1">{{game.discount}}折&nbsp;</span > 
                                    <span class="gamenoticeorig1">￥{{game.price}}&nbsp;</span>
                                    <span class="gamenoticeprice1">￥{{game.price*game.discount*0.1}}</span > 
                                </template>
							</div>
						</div>
						<!--更多游戏推荐-->
						<div class="row" style="background-color: #E2E2E2; margin-top: 20px;">
							<a href="main.html?location=etc" style="text-decoration: none; color: #333333;">
							<div style="text-align: center; margin: 7px;">
								更多游戏推荐 >
							</div>
							</a>
						</div>
        	     </div>
        	     
        	</div>
        	<div class="row div-label" >
        	  
        		<div class="div-margin">
        			<form class="navbar-form" role="search" id="search_form1" action="main.html">
        			    <input type="hidden" name="location" value="etc">
	                    <div class="form-group">
		                   <input type="text" name="name" id="search_input1" autocomplete="off" v-model="search_value" v-on:input="change" class="form-control" placeholder="Search">
	                    </div>
	                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	                    <!--搜索提示框-->
                        <div class="list-group" id="search_suggest1">
                           <template v-if="game!=''">
                              <a v-for="value in game" :href="'main.html?location=etc&name='+value.name" class="list-group-item list-group-item-action">{{value.name}}</a>
                           </template>
                        </div>
                    </form>
        		</div>
        		<div class="div-margin1">按标签查找</div>
        		<div id="gamecategory" class="div-margin2">
        		<button v-for="category in categorys" class="btn btn-xs" @click="clickcategory(category.name)" style="margin: 6px; " >
							{{category.name}}
				</button>
				</div>
        	</div>
        
        </div>
        
    </div>
    
    <script src="../vue/vue.min.js"></script>
	 <script src="../js/home.js"></script>
    
	</body>
</html>
