<!DOCTYPE HTML>
<html lang="ch">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="左右结构项目，属于大人员的社交工具">
		<meta name="keywords" content="左右结构项目 社交 占座 ">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>Digger游戏平台</title>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../richtext/dist/bootstrap.css">
		<link href="../richtext/dist/summernote.css" rel="stylesheet">
		<script src="../richtext/dist/summernote.js"></script>
		<script src="../richtext/dist/lang/summernote-zh-CN.js"></script>
		<script>
			$(function() {
				$(".meun-item").click(function() {
					$(".meun-item").removeClass("meun-item-active");
					$(this).addClass("meun-item-active");
					var itmeObj = $(".meun-item").find("img");
					itmeObj.each(function() {
						var items = $(this).attr("src");
						items = items.replace("_grey.png", ".png");
						items = items.replace(".png", "_grey.png")
						$(this).attr("src", items);
					});
					var attrObj = $(this).find("img").attr("src");;
					attrObj = attrObj.replace("_grey.png", ".png");
					$(this).find("img").attr("src", attrObj);
				});
				$("#topAD").click(function() {
					$("#topA").toggleClass(" glyphicon-triangle-right");
					$("#topA").toggleClass(" glyphicon-triangle-bottom");
				});
				$("#topBD").click(function() {
					$("#topB").toggleClass(" glyphicon-triangle-right");
					$("#topB").toggleClass(" glyphicon-triangle-bottom");
				});
				$("#topCD").click(function() {
					$("#topC").toggleClass(" glyphicon-triangle-right");
					$("#topC").toggleClass(" glyphicon-triangle-bottom");
				});
				$(".toggle-btn").click(function() {
					$("#leftMeun").toggleClass("show");
					$("#rightContent").toggleClass("pd0px");
				})
			})
			$(function() {
				$('#one').summernote({
					height: 200,
					tabsize: 2,
					lang: 'zh-CN',

					//重写图片上传
					callbacks: {
						onImageUpload: function(files, editor, $editable) {

							sendFile1(files[0], editor, $editable);

						}
					}

				});
			});
			$(function() {
				$('#two').summernote({
					height: 200,
					tabsize: 2,
					lang: 'zh-CN',

					//重写图片上传
					callbacks: {
						onImageUpload: function(files, editor, $editable) {

							sendFile2(files[0], editor, $editable);

						}
					}

				});
			});
		</script>
		<!--限制文本长度-->
		<style type="text/css">
			.line-limit-length {
				/*width:10em;*/
				/*保证文字不会被半汉字截断,显示10个文字*/
				overflow: hidden;
				/*超出长度的文字隐藏*/
				text-overflow: ellipsis;
				/*文字隐藏以后添加省略号*/
				white-space: nowrap;
				/*强制不换行*/
			}
			
			.note-alarm {
				float: right;
				margin-top: 10px;
				margin-right: 10px;
			}
			
			.LoR {
				height: auto;
				width: auto;
				border: 4px solid #a1a1a1;
				background-color: rgba(75, 96, 117, 0.8);
				padding: 20px 15px;
				border-radius: 15px;
				box-shadow: 10px 10px 5px #888888;
				color: #ffffff;
			}
		</style>
		<!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/slide.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/flat-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/jquery.nouislider.css">
	</head>

	<body>
		<div id="wrap">
			<!-- 左侧菜单栏目块 -->
			<div class="leftMeun" id="leftMeun">
				<div id="logoDiv">
					<p id="logoP"><img id="logo" alt="digger" src="../img/logo.png"><span>digger</span></p>
				</div>
				<div id="personInfor">
					<p>
						<button class="btn btn-primary" @click="logout()">退出登录</button>
					</p>
				</div>
				<div class="meun-title">账号管理</div>
				<div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab"><img src="../img/icon1_grey.png">游戏审核</div>
				<div class="meun-item" href="#char" aria-controls="char" role="tab" data-toggle="tab"><img src="../img/icon2_grey.png">游戏上传</div>
				<div class="meun-item" href="#user" aria-controls="user" role="tab" data-toggle="tab"><img src="../img/icon3_grey.png">用户管理</div>
				<div class="meun-item" href="#gonggao" aria-controls="gonggao" role="tab" data-toggle="tab"><img src="../img/icon4_grey.png">公告管理</div>
				<div class="meun-item" href="#self" aria-controls="self" role="tab" data-toggle="tab"><img src="../img/icon5_grey.png">个人信息</div>
				<div class="meun-item" href="#shuju" aria-controls="shuju" role="tab" data-toggle="tab"><img src="../img/icon6_grey.png">数据统计</div>
				<div class="meun-item" href="#discounts" aria-controls="discounts" role="tab" data-toggle="tab"><img src="../img/icon7_grey.png">商品打折</div>
				<div class="meun-item" href="#updatapw" aria-controls="updatapw" role="tab" data-toggle="tab"><img src="../img/icon8_grey.png">密码修改</div>
				<div class="meun-item" id="getrefund" href="#refund" aria-controls="refund" role="tab" data-toggle="tab"><img src="../img/icon3_grey.png">退款审核</div>
			</div>
			<!-- 右侧具体内容栏目 -->
			<div id="rightContent">
				<a class="toggle-btn" id="nimei">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>
				<!-- Tab panes -->
				<div class="tab-content">
					<!--游戏审核模块-->
					<div role="tabpanel" class="tab-pane active" id="sour">
						<div class="check-div form-inline">
						</div>
						<ul class="nav nav-tabs nav-justified" style="margin-bottom: 30px;">
							<li class="col-md-3 col-xs-3">
								<a href="#sour" data-toggle="tab" style="background: #4B6075;">待审核</a>
							</li>
							<li class="col-md-3 col-xs-3">
								<a href="#regu" data-toggle="tab">未上架</a>
							</li>
							<li class="col-md-3 col-xs-3">
								<a href="#stud" data-toggle="tab">在销售</a>
							</li>
							<li class="col-md-3 col-xs-3">
								<a href="#sitt" data-toggle="tab">已下架</a>
							</li>
						</ul>

						<!--审核表单-->
						<div class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>编码</th>
										<th>游戏名称</th>
										<th>上传玩家</th>
										<th>上传时间</th>
										<th>游戏类型</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in checks">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.username}}</td>
										<td>{{item.createtime}}</td>
										<td>{{item.category}}</td>
										<td><button @click="getcheckId(index)" class="btn btn-info" data-toggle="modal" data-target="#reviseSchool">审核</button></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div class="col-md-6">
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div class="col-md-6">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>

						<!--弹出审核游戏窗口-->
						<div class="modal fade" id="reviseSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog modal-lg " role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">{{upcheck.name}}</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<div class="row">
												<video id="my-video" width="100%" height="360" controls="controls" :src="upcheck.videourl"></video>
											</div>
											<div class="row">
												<a href="#" class="thumbnail">
													<img :src="upcheck.bgurl" alt="通用的占位符缩略图">
												</a>
											</div>
											<div class="row">
												<div class="col-sm-6 col-md-6">
													<a href="#" class="thumbnail">
														<img :src="upcheck.coverurl" alt="通用的占位符缩略图">
													</a>
												</div>
												<div class="col-sm-6 col-md-6">
													<a href="#" class="thumbnail">
														<img :src="upcheck.carouseurl" alt="通用的占位符缩略图">
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6 col-md-6">
													<a href="#" class="thumbnail">
														<img :src="upcheck.coverurl" alt="通用的占位符缩略图">
													</a>
												</div>
												<div class="col-sm-6 col-md-6">
													<a href="#" class="thumbnail">
														<img :src="upcheck.carouseurl" alt="通用的占位符缩略图">
													</a>
												</div>
											</div>

											<div class="row" style="margin-top:10px ; margin-left: 6px;">
												<div v-html="upcheck.detailtxt"></div>
											</div>
										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green" data-dismiss="modal" v-on:click="pass(upcheck.id,pageNum)">通过</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

					</div>
					<!--游戏未上架模块-->
					<div role="tabpanel" class="tab-pane" id="regu">
						<div class="check-div form-inline">
						</div>
						<ul class="nav nav-tabs nav-justified" style="margin-bottom: 30px;">
							<li>
								<a href="#sour" data-toggle="tab">待审核</a>
							</li>
							<li>
								<a href="#regu" data-toggle="tab" style="background: #4B6075;">未上架</a>
							</li>
							<li>
								<a href="#stud" data-toggle="tab">在销售</a>
							</li>
							<li>
								<a href="#sitt" data-toggle="tab">已下架</a>
							</li>
						</ul>
						<!--未上架表单-->
						<div id="notup">
							<div class="table-responsive">
								<table class="table">
									<thead class="table-active">
										<tr>
											<th>编码</th>
											<th>游戏名称</th>
											<th>上传玩家</th>
											<th>审核时间</th>
											<th>游戏类型</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item,index) in notups">
											<td>{{item.id}}</td>
											<td>{{item.name}}</td>
											<td>{{item.uploadid}}</td>
											<td>{{item.updatetime}}</td>
											<td>{{item.category}}</td>
											<td><button class="btn btn-info" data-toggle="modal" v-on:click="pass(item.id)" data-target="#addChar">添加公告</button>
												&nbsp;<button v-on:click="upstock(item.id,pageNum)" class="btn btn-info">上架</button></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--页码块-->
							<footer class="footer">
								<div class="row">
									<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
									<div class="col-md-6">
										当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
									</div>
									<!-- 分页码 -->
									<div class="col-md-6">
										<nav aria-label="Page navigation">
											<ul class="pagination">
												<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
												<li>
													<a v-on:click="change(1)" href="javascript:;">首页</a>
												</li>
												<!-- 如果还有前页就访问当前页码-1的页面， -->
												<template v-if="hasPreviousPage">
													<li>
														<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
												</template>

												<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
												<template v-for="page_Nums in navigatepageNums">
													<li v-if="page_Nums===pageNum" class="active">
														<a href="javascript:;">{{page_Nums}}</a>
													</li>
													<li v-else>
														<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
													</li>
												</template>

												<!-- 如果还有后页就访问当前页码+1的页面， -->
												<template v-if="hasNextPage">
													<li>
														<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
															<span aria-hidden="true">&raquo;</span>
														</a>
													</li>
												</template>
												<li>
													<a v-on:click="change(pages)" href="javascript:;">末页</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</footer>
							<!--弹出添加公告窗口-->
							<div class="modal fade" id="addChar" role="dialog" aria-labelledby="gridSystemModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">添加公告</h4>
										</div>
										<div class="modal-body">
											<div class="container-fluid">
												<form id="addnotice">
													<input name="title" class="input-lg" placeholder="公告标题" />

													<br />
													<br />
													<div class="summernote" id="one"></div>
												</form>
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
											<button type="button" v-on:click="mo_upstock" data-dismiss="modal" class="btn btn-xs btn-green">发布</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
						</div>
					</div>
					<!--游戏在销售模块-->
					<div role="tabpanel" class="tab-pane" id="stud">
						<div class="check-div form-inline">
						</div>
						<ul class="nav nav-tabs nav-justified" style="margin-bottom: 30px;">
							<li>
								<a href="#sour" data-toggle="tab">待审核</a>
							</li>
							<li>
								<a href="#regu" data-toggle="tab">未上架</a>
							</li>
							<li>
								<a href="#stud" data-toggle="tab" style="background: #4B6075;">在销售</a>
							</li>
							<li>
								<a href="#sitt" data-toggle="tab">已下架</a>
							</li>
						</ul>
						<div id="sale" class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>编码</th>
										<th>游戏名称</th>
										<th>上传玩家</th>
										<th>上架时间</th>
										<th>价格</th>
										<th>游戏类型</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in sales">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.uploadid}}</td>
										<td>{{item.shelftime}}</td>
										<td>{{item.price}}</td>
										<td>{{item.category}}</td>
										<td><button @click="downgame(index,pageNum)" class="btn btn-info">下架</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div class="col-md-6">
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div class="col-md-6">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>
					</div>
					<!--游戏下架模块-->
					<div role="tabpanel" class="tab-pane" id="sitt">
						<div class="check-div form-inline">
						</div>
						<ul class="nav nav-tabs nav-justified" style="margin-bottom: 30px;">
							<li>
								<a href="#sour" data-toggle="tab">待审核</a>
							</li>
							<li>
								<a href="#regu" data-toggle="tab">未上架</a>
							</li>
							<li>
								<a href="#stud" data-toggle="tab">在销售</a>
							</li>
							<li>
								<a href="#sitt" data-toggle="tab" style="background: #4B6075;">已下架</a>
							</li>
						</ul>

						<div class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>编码</th>
										<th>游戏名称</th>
										<th>上传玩家</th>
										<th>上架时间</th>
										<th>游戏类型</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in isdowns">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.uploadid}}</td>
										<td>{{item.updatetime}}</td>
										<td>{{item.category}}</td>
										<td><button @click="upgame(index,pageNum)" class="btn btn-info">上架</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div class="col-md-6">
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div class="col-md-6">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>
					</div>
					<!-- 上传文件模块 -->
					<div role="tabpanel" class="tab-pane" id="char">
						<div class="main_page">
							<iframe scrolling="no" id="main" name="main" frameborder="0" src="upload.html" style="min-height:600px;width:100%;height:100%;margin-top: 70px;"></iframe>
						</div>
					</div>
					<!--用户管理模块-->
					<div role="tabpanel" class="tab-pane" id="user">
						<div class="check-div form-inline">
							<div class="col-xs-4">
								<input type="text" id="select1" v-model="username" name="select" class="form-control input-sm" placeholder="输入文字搜索">
								<button @click="selectbyname()" class="btn btn-white btn-xs">查 询 </button>
							</div>
							<div class="col-lg-3 col-lg-offset-2 col-xs-4" style=" padding-right: 40px;text-align: right;">
								<label for="paixu">排序:&nbsp;</label>
								<select class=" form-control">
									<option>用户id</option>
									<option>状态</option>
								</select>
							</div>
						</div>
						<div id="guser" class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>用户id</th>
										<th>用户名</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in gusers">
										<td>{{item.id}}</td>
										<td>{{item.username}}</td>
										<td>{{item.state}}</td>
										<td><button @click="updatestate(index,pageNum)" class="btn btn-info">修改状态</button>
											<!--&nbsp;<button class="btn btn-danger" @click="deletestate(index)" data-toggle="modal" data-target="#deleteUser">删除</button>--></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div class="col-md-6">
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div class="col-md-6">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>
						<!--弹出删除用户警告窗口-->
						<!--<div class="modal fade" id="deleteUser" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该用户？删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" @click="deluser(guser.id)" class="btn btn-xs btn-danger">保 存</button>
									</div>
								</div>
							</div>
						</div>-->
						<!-- /.modal -->
					</div>
					<!-- 公告管理模块 -->
					<div role="tabpanel" class="tab-pane" id="gonggao">
						<div class="check-div">
						</div>
						<div id="gnotice" class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>游戏名</th>
										<th>标题</th>
										<th>上次更改时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in list">
										<td>{{item.name}}</td>
										<td>{{item.title}}</td>
										<td>{{item.updatetime}}</td>
										<td><button class="btn btn-info" data-toggle="modal" v-on:click="mo_updategg(index)" data-target="#updataChar">修改</button>
											&nbsp;<button class="btn btn-danger">删除</button></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div>
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div>
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>
						<!--弹出修改公告窗口-->
						<div class="modal fade" id="updataChar" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改公告</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form id="updatenotice">
												<input name="title" class="input-lg" v-model="gnotice.oldtitle" />
												<br />
												<br />
												<div class="summernote" id="two"></div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" v-on:click="savenew(pageNum)"  data-dismiss="modal" class="btn btn-xs btn-green">保 存</button>
									</div>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
					</div>
					<!--个人信息模块-->
					<div role="tabpanel" class="tab-pane" id="self">
						<div class="row" style="margin: auto;">
							<div class="col-md-4">
								<br>
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane active in" id="home">
										<div class="form-group">
											<label>用户id</label>
											<input type="text" v-model="grs.id" class="form-control" readonly>
										</div>
										<div class="form-group">
											<label>用户名</label>
											<input type="text" v-model="grs.username" class="form-control">
										</div>
										<div class="form-group">
											<label>email</label>
											<input type="email" v-model="grs.email" class="form-control">
										</div>
										<div class="form-group">
											<label>密保问题</label>
											<input type="text" v-model="grs.question" class="form-control">
										</div>
										<div class="form-group">
											<label>密保答案</label>
											<input type="text" v-model="grs.answer" class="form-control">
										</div>
										<div class="form-group">
											<label>创建时间</label>
											<input type="text" v-model="grs.createtime" class="form-control" readonly>
										</div>
										<div class="btn-toolbar list-toolbar">
											<button class="btn btn-primary" @click="updateMessage()"><i class="fa fa-save"></i> Save</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--数据统计模块-->
					<div role="tabpanel" class="tab-pane" id="shuju">
						<iframe scrolling="no" id="main" name="main" frameborder="0" src="data1.html" style="min-height:600px;width:100%;height:100%;"></iframe>
					</div>
					<!--修改密码模块-->
					<div role="tabpanel" class="tab-pane" id="updatapw">
						<div class="check-div">
						</div>

						<div style="padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">用户名：</label>
									<div class="col-xs-5">
										<input type="text" class="form-control input-sm duiqi" id="username" v-model="username" style="margin-top: 7px;" readonly>
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">原密码：</label>
									<div class="col-xs-5">
										<input type="password" class="form-control input-sm duiqi" id="oldpassword" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">新密码：</label>
									<div class="col-xs-5">
										<input type="password" class="form-control input-sm duiqi" id="newpassword" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">重复密码：</label>
									<div class="col-xs-5">
										<input type="password" class="form-control input-sm duiqi" id="repassword" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group text-right">
									<div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
										<button type="reset" class="btn btn-xs btn-white">取 消</button>
										<button type="submit" @click="updatapassword()" class="btn btn-xs btn-green">保存</button>
									</div>
								</div>
							</form>
						</div>

					</div>
					<!--商品打折模块-->
					<div role="tabpanel" class="tab-pane" id="discounts">
						<div class="check-div form-inline">
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
								<button class="btn btn-white btn-xs ">查 询 </button>
							</div>
						</div>
						<div id="nonediscount" class="col-md-4 col-sm-4">
							<div class="LoR">
								<!--游戏未打折表单-->
								<h5 class="text-center">未打折游戏列表</h4>
						<div class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
										<th>游戏名称</th>
										<th>游戏价格</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in nonediscounts">
										<td>{{item.name}}</td>
										<td>{{item.price}}</td>
									    <td><button type="submit" v-on:click="cut_price(item.id)" class="btn btn-info" data-toggle="modal" data-target="#downprice">打折</button></td>
									</tr>
								</tbody>
							</table>
							</div>
							</div>
						</div>
						<div id="gamediscount" class="col-md-8 col-sm-8" >
							<div class="LoR">
								<!--游戏已打折表单-->
								<h5 class="text-center">已打折游戏列表</h4>
								<div  class="table-responsive">
									<table class="table">
										<thead class="table-active">
											<tr>
												<th>游戏名称</th>
												<th>游戏价格</th>
												<th>折扣力度</th>
												<th>起始时间</th>
												<th>终止时间</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item,index) in goods">
												<td>{{item.name}}</td>
												<td>{{item.price}}</td>
												<td>{{item.discount}}折</td>
												<td>{{item.starttime}}</td>
												<td>{{item.deadline}}</td>
											    <td><button type="submit" v-on:click="getdiscount(index)"  class="btn btn-info" data-toggle="modal" data-target="#changeprice">修改</button>
											    	<button class="btn btn-danger" v-on:click="deletediscount(index)">删除</button>
											    </td>
											</tr>
										</tbody>
									</table>	
						     </div>
							</div>
						</div>
						
						<!--开始给没有折扣的游戏打折扣窗口-->
							<div class="modal fade" id="downprice" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog modal-sm " role="document">
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">赋予折扣</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
										<div class="row" style="margin-top:10px ; margin-left: 6px;">
                                        <form id="firstdiscount">
                                        <label>折扣力度</label>
										<input type="text" name="discount"  />
										<label>起始时间</label>
										<input type="date" name="starttime"  />
                                        <label>终止时间</label>
										<input type="date" name="deadline"  />
										</form>
											</div>
										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" v-on:click="savefirstdiscount" class="btn btn-xs btn-green" data-dismiss="modal">保存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!--修改折扣信息窗口-->
						<div class="modal fade" id="changeprice" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog modal-sm " role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">折扣修改</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
										<div class="row" style="margin-top:10px ; margin-left: 6px;">
                                        <form id="updateprice">
                                        <label>折扣力度</label>
										<input type="text" name="discount" v-model="olddiscount" />
										<label>起始时间</label>
										<input type="date" name="starttime" v-model="oldstarttime" />
                                        <label>终止时间</label>
										<input type="date" name="deadline" v-model="olddeadline" />
										</form>
											<div class="row" style="margin-top:10px ; margin-left: 6px;">
		                                        
		                                        <label>折扣力度</label>
												<input type="text" id="" name="" value="" />
												<label>起始时间</label>
												<input type="datetime-local" class="form_datetime" id="" name="" value="" />
		                                        <label>终止时间</label>
												<input type="datetime-local" class="form_datetime" id="" name="" value="" />
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" v-on:click="saveupdateprice" class="btn btn-xs btn-green" data-dismiss="modal">保存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</div>
					<!-- 退款审核模块 -->
					<div role="tabpanel" class="tab-pane" id="refund">
						<div class="check-div">
						</div>
						<div id="gnotice" class="table-responsive">
							<table class="table">
								<thead class="table-active">
									<tr>
									    <th>订单号</th>
										<th>游戏名</th>
										<th>价格</th>
										<th>退款人</th>
										<th>退款时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in order">
									    <td>{{item.ordernum}}</td>
										<td>{{item.name}}</td>
										<td>{{item.price}}</td>
										<td>{{item.username}}</td>
										<td>{{item.updatetime}}</td>
										<td><button class="btn btn-danger" @click="agreerefund(item.ordernum,item.price)">通过退款</button>
										<button class="btn btn-danger" @click="disagreerefund(item.ordernum)">不通过退款</button></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--页码块-->
						<footer class="footer">
							<div class="row">
								<!-- 分页文字信息 ：拿到控制器处理请求时封装在pageInfo里面的分页信息-->
								<div>
									当前{{pageNum}}页,共{{pages}}页,总{{total}}条记录
								</div>
								<!-- 分页码 -->
								<div>
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<!-- 
				                        1.pageContext.request.contextPath表示当前项目路径，采用的是绝对路径表达方式。一般为http:localhost:8080/项目名 。
				                        2.首页，末页的逻辑：pn=1访问第一次，pn=${pageInfo.pages}访问最后一页
				                      -->
											<li>
												<a v-on:click="change(1)" href="javascript:;">首页</a>
											</li>
											<!-- 如果还有前页就访问当前页码-1的页面， -->
											<template v-if="hasPreviousPage">
												<li>
													<a v-on:click="change(pageNum-1)" href="javascript:;" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											</template>

											<!--遍历所有导航页码，如果遍历的页码页当前页码相等就高亮显示，如果相等就普通显示  -->
											<template v-for="page_Nums in navigatepageNums">
												<li v-if="page_Nums===pageNum" class="active">
													<a href="javascript:;">{{page_Nums}}</a>
												</li>
												<li v-else>
													<a v-on:click="change(page_Nums)" href="javascript:;">{{page_Nums}}</a>
												</li>
											</template>

											<!-- 如果还有后页就访问当前页码+1的页面， -->
											<template v-if="hasNextPage">
												<li>
													<a v-on:click="change(pageNum+1)" href="javascript:;" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</template>
											<li>
												<a v-on:click="change(pages)" href="javascript:;">末页</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../vue/vue.min.js"></script>
		<script src="../js/myvue.js"></script>
	</body>
	<script>
		 
		function calcPageHeight(doc) {
			var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
			var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
			var height = Math.max(cHeight, sHeight)
			return height
		}
		//根据ID获取iframe对象
		var ifr = document.getElementById('main')
		ifr.onload = function() {
			//解决打开高度太高的页面后再打开高度较小页面滚动条不收缩
			ifr.style.height = '0px';
			var iDoc = ifr.contentDocument || ifr.document
			var height = calcPageHeight(iDoc)
			if(height < 900) {
				height = 900;
			}
			ifr.style.height = height + 'px'
		}
		
	</script>

</html>