<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"/>
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js" ></script>
		<script type="text/javascript" src="../vue/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
		<!--<script type="text/javascript" src="../socket/plugins/jquery/jquery-2.1.4.min.js" ></script>-->
		<script type="text/javascript" src="../socket/plugins/amaze/js/amazeui.min.js" ></script>
		<script type="text/javascript" src="../socket/plugins/amaze/js/app.js" ></script>
		<script type="text/javascript" src="../socket/plugins/layer/extend/layer.ext.js" ></script>
		<script type="text/javascript" src="../socket/plugins/laypage/laypage.js" ></script>
		<script type="text/javascript" src="../socket/plugins/contextjs/js/context.js" ></script>
		<script type="text/javascript" src="../socket/plugins/sockjs/sockjs.js" ></script>
		<title></title>
	</head>

	<body>
	<div id="main">
	
	
		<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;background-color: #242424;border: none;border-radius: 0px">
			<div class="container-fluid" style="padding-top: 15px;padding-bottom: 15px;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
					<img style="cursor: pointer;" height="50" height="50" src="../img/logo.png" />
					<a class="navbar-brand" href="main.html" style="font-size: 40px;color: white;">Digger.com</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav " style="margin-left: 25%;">
						<li>
							<a style="color: white;" id="shop" href="main.html?location=home">商店</a>
						</li>
						<li>
							<a style="color: white;" id="community" href="main.html?location=community">社区</a>
						</li>
						<li>
							<a style="color: white;" id="webchat" href="main.html?location=webchat">聊天室</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right" v-if="user == ''">
						<li>
							<a href="registered.html" style="color: white;"><span class="glyphicon glyphicon-user"></span> 注册</a>
						</li>
						<li>
							<a href="#" style="color: white;" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right" v-else>
						<!--<li>
							<a href="#" style="color: white;"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a>
						</li>-->
						<li class="dropdown">
							<a class="dropdown-toggle" style="color: white;" data-toggle="dropdown" href="#">
								<span class="glyphicon glyphicon-user"></span> {{user.username}}
							</a>
							<ul class="dropdown-menu">
								<li><a href="main.html?location=order">我的订单</a></li>
								<li><a href="main.html?location=wish">愿望清单</a></li>
								<li><a href="main.html?location=webchat">聊天室</a></li>
								<!--<li class="divider"></li>
								<li><a href="#">分离的链接</a></li>-->
							</ul>
						</li>
						<li>
							<a href="#" style="color: white;" @click="logout()"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class=""  id="frame">
		
		</div>

		<div class="container">
			
				<!-- 模态框（Modal） -->
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="background: rgba(255,255,255,0.5);">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								请登录
							</h4>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
	
								<form action="" method="post">
									<div class="row" style="margin-bottom: 20px;">
										<input style="width: 50%;" class="form-control col-md-offset-3" type="text" name="account" id="account" value="" placeholder="请输入账号" />
									</div>
									<div class="row" style="margin-bottom: 20px;">
										<input style="width: 50%;" class="form-control col-md-offset-3" class="form-control" type="password" name="password" id="password" placeholder="请输入密码" />
									</div>
									<div class="row">
										<a class="pull-right">忘记密码</a>
									</div>
								</form>
	
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
							<button type="button" @click="login()" id="Tologin" class="btn btn-primary">
						登录
					</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			
		</div>
		

		<!--<footer id="footer">-->
			<nav class="navbar navbar-default" style="background-color: #242424;border: none;border-radius: 0px;margin-bottom: 0px;">
				<div class="container">
					<div style="text-align: center;color: white;">
						<h3>肇庆学院软件工程|实训项目|关于网站|团队组成|权利声明|法律顾问|网站广告中心|网站与营销|队友智囊团|客服中心</h3>
						<p>搬砖队团队制作</p>
						<p>0110-010100-100000-111100</p> 
						<p>
							<a href="www.baidu.com"><img src="../img/footer.png" /></a>Digger游戏平台</p>
					</div>
				</div>
			</nav>
		<!--</footer>-->

	</div>
<!--<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>-->

		<script type="text/javascript" src="../js/main.js" ></script>
		<script>
			$(function(){
				// 默认显示
				$(".dropdown-toggle").dropdown('toggle');
			}); 
			</script>
	</body>

</html>