<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>

<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../css/etc.css" />
<link rel="stylesheet" href="../css/home.css" />
<script type="text/javascript " src="../bootstrap/js/jquery-1.9.1.js"></script>
<script type="text/javascript " src="../bootstrap/js/bootstrap.js"></script>

<body>

<button id="btn" onclick="func()">btn</button>
<script>
var layer=document.createElement("div");
layer.id="layer";
function func()
{
    var style=
    {
        background:"#f00",
        position:"absolute",
        zIndex:10,
        width:"200px",
        height:"200px",
        left:"200px",
        top:"200px"
    }
    for(var i in style)
        layer.style[i]=style[i];   
    if(document.getElementById("layer")==null)
    {
        document.body.appendChild(layer);
        setTimeout("document.body.removeChild(layer)",2000)
    }
}
 
</script>

		<script type="text/javascript" src="../vue/vue.min.js"></script>
		<script type="text/javascript" src="../js/etc.js"></script>
</body>
</html>