<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"/>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js" ></script>-->
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js" ></script>
	</head>
	<body>
		<div class="container" id="order">
			<div class="container-fluid" v-for="item in content" style="background-color: whitesmoke;border-radius: 5px;padding-bottom: 20px;margin-top: 20px;margin-bottom: 20px;">
				<div class="row" v-if="item.issend == 1">
					<img style="float: left;" src="../img/isSend.png"/>
				</div>
				<div class="row" style="padding-left: 20px;">
					订单编号：{{item.ordernum}}&nbsp;&nbsp;
					下单时间：{{item.createtime}}
					
				</div>
				<br />
				<div class="row">
				   <a :href="'main.html?location=details&id='+item.gameid" style="text-decoration: none; color:black;">
					<div class="col-md-2">
						
						<div class="" style="margin-left: 50px;">
							<img style="height: 150px;width: 105px;border-radius: 5px;border: 1px solid whitesmoke;" :src="item.coverimg"/>
						</div>
						
					</div>
					<div class="col-md-3">
						<p style="font-size: 35px;">{{item.name}}</p>
					</div>
					</a>
					<div class="col-md-4">
						<p style="font-size: 25px;float: right;">价格：￥{{item.price}}
						     <span v-if="item.state==1" style="color:#FF6732;">(交易成功)</span>
						     <span v-else-if="item.state==0&&!item.closetime" style="color:#FF6732;">(等待交易)</span>
						     <span v-else-if="(item.state==0&&item.closetime)||item.state==5" style="color:#FF6732;">(交易失败)</span>
						     <span v-else-if="item.state==2" style="color:#FF6732;">(退款中)</span>
						     <span v-else-if="item.state==3" style="color:#FF6732;">(退款成功)</span>
						     <span v-else-if="item.state==4" style="color:#FF6732;">(退款失败)</span> 
						</p>
					</div>
					<div class="col-md-3" style="padding-top: 150px;">
						<template v-if="item.state == 1">
							<button type="button"  @click="deleteit(item.id)" class="btn btn-danger">删除订单</button>
							<button type="button"  @click="applyrefund(item.id)" class="btn btn-danger">申请退款</button>
							<a :href="'../game/download?gameid='+item.gameid" v-if="item.issend == 0" class="btn btn-info">下载</a>
						</template>
						<template v-else-if="item.state==0&&!item.closetime">
						    <button type="button"  @click="deleteit(item.id)" class="btn btn-danger">删除订单</button>
						</template>
						<template v-else-if="(item.state==0&&item.closetime)||item.state==5">
							<button type="button"  @click="deleteit(item.id)" class="btn btn-danger">删除订单</button>
						</template>
						<template v-else-if="item.state==2">
							<button type="button" @click="cancelit(item.id)" class="btn btn-info">取消退款</button>
						</template>
						<template v-else-if="item.state==3">
							<button type="button"  @click="deleteit(item.id)" class="btn btn-danger">删除订单</button>						
						</template>
						<template v-else-if="item.state==4">
							<button type="button"  @click="deleteit(item.id)" class="btn btn-danger">删除订单</button>
							<a :href="'../game/download?gameid='+item.gameid" v-if="item.issend == 0" class="btn btn-info">下载</a>
						</template>   
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../vue/vue.min.js" ></script>
		<script type="text/javascript" src="../js/order.js"></script>
	</body>
</html>
