<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"/>
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js" ></script>
	</head>
	<body>
		<div class="container">
			<div class="container-fluid" style="background-color: whitesmoke;border-radius: 5px;padding-bottom: 20px;margin-top: 20px;margin-bottom: 20px;">
				<div class="row">
					<img style="float: left;" src="../img/isSend.png"/>
				</div>
				<div class="row" style="padding-left: 20px;">
					订单编号：123456789456123789&nbsp;&nbsp;
					下单时间：2018-10-11 20:01:00
					
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">
						
						<div class="" style="margin-left: 50px;">
							<img style="height: 150px;width: 105px;border-radius: 5px;border: 1px solid whitesmoke;" src="https://cdn.rail.tgp.qq.com/info/games/2000352/2c2dc799c98d1904cd062e60a0924cef.jpg"/>
						</div>
						
					</div>
					<div class="col-md-4">
						<p style="font-size: 35px;">NBA2KOL</p>
					</div>
					<div class="col-md-4">
						<p style="font-size: 25px;float: right;">售价：￥25</p>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-danger">删除</button>
					</div>
				</div>
			</div>
			
			<div class="container-fluid" style="background-color: whitesmoke;border-radius: 5px;padding-bottom: 20px;margin-top: 20px;margin-bottom: 20px;">
				<div class="row">
					<img style="float: left;" src="../img/isSend.png"/>
				</div>
				<div class="row" style="padding-left: 20px;">
					订单编号：123456789456123789&nbsp;&nbsp;
					下单时间：2018-10-11 20:01:00
					
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">
						
						<div class="" style="margin-left: 50px;">
							<img style="height: 150px;width: 105px;border-radius: 5px;border: 1px solid whitesmoke;" src="https://cdn.rail.tgp.qq.com/info/games/2000352/2c2dc799c98d1904cd062e60a0924cef.jpg"/>
						</div>
						
					</div>
					<div class="col-md-4">
						<p style="font-size: 35px;">NBA2KOL</p>
					</div>
					<div class="col-md-4">
						<p style="font-size: 25px;float: right;">售价：￥25</p>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-info">支付</button>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
