<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
    <div style="margin-right:38%; margin-left:38%; margin-top:5%;">
    <img  style="height:50%; width:50%;" src="../img/duihao.png"/> <div style="color:green; margin-top:18%; font-size:2.5em; float:right;">支付成功</div>
    <div style="font-size:1.5em; margin-left:25%;">
       <a href="../views/main.html?location=order" style="text-decoration: none; color:#67B426;">查看订单</a>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="../views/main.html?location=home" style="text-decoration: none; color:#67B426;">继续购买</a></div>
    </div>
    </div>
  </div>
</body>
</html>