<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../bootstrap/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/registered.css"/>
		<script type="text/javascript" src="../vue/vue.min.js" ></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper">

	<div class="container">
		<h1>WELCOME TO DIGGER</h1>
		<form class="form"  action="" method="post">
			<input class="in" type="text" id="username" name="username" placeholder="请输入您的用户名">
			<input class="in" type="text" id="email" name="email" placeholder="请输入邮箱">
			<input class="in" type="text" id="question" name="question" placeholder="请输入密保问题">
			<input class="in" type="password" id="answer" name="answer" placeholder="请输入密保答案">
			<input class="in" type="password" id="password" name="password" placeholder="请输入密码">
			<input class="in" type="password" id="repassword" name="repassword" onkeyup="validate()" placeholder="请确认您的密码">
			<div style="margin-top: 5px;margin-bottom: 5px;" id="tishi"></div>
			<button type="button" id="registed-button">注册</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	
</div>

<script type="text/javascript">
$('#registed-button').click(function(event){
	var username = $("#username").val();
	var password = $("#email").val();
	var question = $("#question").val();
	var answer = $("#answer").val();
	var email = $("#email").val();
	var user={
			"username":username,
			"password":password,
			"question":question,
			"answer":answer,
			"email":email
	}
	alert("8888888");
	//console.log(JSON.stringify(user))
	$.ajax({
		url: "../user/register",
		data:JSON.stringify(user),
		type:'POST',
		contentType:"application/json; charset=utf-8",
		success:function(res){
			console.log(res)
			event.preventDefault();
			$('form').fadeOut(500);
			$('.wrapper').addClass('form-success');
			
			setTimeout(function () {
		 window.location.href='main.html';    
		}, 1500);
		}
	})
	
	
});


function validate() {
              var pwd1 = document.getElementById("password").value;
              var pwd2 = document.getElementById("repassword").value;
//		 对比两次输入的密码 
              if(pwd1 == pwd2) {
                  document.getElementById("tishi").innerHTML="<font color='white'>两次密码相同</font>";
                  document.getElementById("registed-button").disabled = false;
              }
              else {
                  document.getElementById("tishi").innerHTML="<font color='red'>两次密码不相同</font>";
                document.getElementById("registed-button").disabled = true;
              }
          }

</script>

</body>
</html>