<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/slide.css" />
		<link rel="stylesheet" type="text/css" href="../css/flat-ui.min.css" />
	</head>
	<body>
		<div id="updatepw">
		<div class="check-div">
						</div>
						<div style="padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">用户名：</label>
									<div class="col-xs-5">
										<input type="text" class="form-control input-sm duiqi" id="username" v-model="username" style="margin-top: 7px;" readonly>
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">原密码：</label>
									<div class="col-xs-5">
										<input type="password" onblur="validatePwd()" class="form-control input-sm duiqi" id="oldpassword" v-model="oldpassword" placeholder="" style="margin-top: 7px;">
										<div style="margin-top: 5px;margin-bottom: 5px;" id="tishiPwd"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">新密码：</label>
									<div class="col-xs-5">
										<input type="password" onblur="validatePwd1()" class="form-control input-sm duiqi" id="newpassword" v-model="newpassword" placeholder="" style="margin-top: 7px;">
										<div style="margin-top: 5px;margin-bottom: 5px;" id="tishiPwd1"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">重复密码：</label>
									<div class="col-xs-5">
										<input type="password" onblur="validatePwd2()" class="form-control input-sm duiqi" id="repassword" placeholder="" style="margin-top: 7px;">
										<div style="margin-top: 5px;margin-bottom: 5px;" id="tishiPwd2"></div>
									</div>
								</div>
								<div class="form-group text-right">
									<div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
										<button type="reset" class="btn btn-xs btn-white">取 消</button>
										<button type="submit" @click="updatepassword()" class="btn btn-xs btn-green">保存</button>
									</div>
								</div>
							</div>
						</div>
						</div>
						<script type="text/javascript" src="../vue/vue.min.js"></script>
						<script type="text/javascript" src="../js/setNewPwd.js"></script>
	</body>
</html>
