<!DOCTYPE html>
<html>
<head>
   <title>商店-Digger</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-with,initial-scal=1">
   <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="../css/updateinfo.css" rel="stylesheet">
   <script src="../bootstrap/js/jquery-1.9.1.min.js"></script>
   <script src="../bootstrap/js/bootstrap.js"></script>
   <script src="../vue/vue.min.js"></script>
</head>
<body>
<!-- 固定在顶部的导航栏 -->
<!--顶部导航栏-->
	<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" style="margin-left: 17%; margin-right: 17%;"> 
            <ul class="nav navbar-nav" >
               <li class="active"><a href="#">精选</a></li>
               <li><a id="toallgame">所有游戏</a></li>
            </ul>
            <form class="navbar-form navbar-right" style="margin-right: auto;" role="search">
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </nav>
<!-- 导航栏结束 -->
<!-- 注册表单开始 -->
<div id="content">
  <div class="container">
    <form action="" method="post" class="form-horizontal" onSubmit="return Check()" name="send"> 
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 register">
      	<div id="title">
      	   <center><h2>完善个人信息</h2></center>
      	</div>
            <div class="form-group">
              <label class="col-sm-3 control-label">用户名</label>
              <div class="col-sm-8">
                <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
               <div class="input-group-addon">
               <span class="glyphicon glyphicon-user"></span>
               </div>
             </div>
            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">邮箱</label>
              <div class="col-sm-8">
                <div class="input-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="请输入有效邮箱">
               <div class="input-group-addon">
               <span class="glyphicon glyphicon-envelope"></span>
               </div>
             </div>
            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">问题</label>
              <div class="col-sm-8">
                <div class="input-group">
                <input type="text" class="form-control" id="question" name="question" placeholder="请输入问题">
               <div class="input-group-addon">
               <span class="glyphicon glyphicon-question-sign"></span>
               </div>
             </div>
            </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-3 control-label">答案</label>
              <div class="col-sm-8">
                <div class="input-group">
                <input type="text" class="form-control" id="answer" name="answer" placeholder="请输入问题答案">
               <div class="input-group-addon">
               <span class="glyphicon glyphicon-ok"></span>
               </div>
             </div>
            </div>
            </div>
            <div class="form-group">
              
            </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-12">
            <button type="reset" class="btn btn-default btn-block"><b>&nbsp&nbsp清空&nbsp&nbsp</b>
              <span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="col-md-3 col-xs-12">
            <button type="button" id="update-button" class="btn btn-info btn-block"><b>&nbsp&nbsp提交修改&nbsp&nbsp</b>
            <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$('#update-button').click(function(event){
	alert("88");
	var username = $("#username").val();
	var question = $("#question").val();
	var answer = $("#answer").val();
	var email = $("#email").val();
	var user={
			"username":username,
			"question":question,
			"answer":answer,
			"email":email
	}
	//console.log(JSON.stringify(user))
	$.ajax({
		url: "../user/update",
		data:JSON.stringify(user),
		type:'POST',
		contentType:"application/json; charset=utf-8",
		success:function(res){
			console.log(res)
			
		}
	})
	
	
});

</script>

        
</body>
</html>