<!DOCTYPE html>
<!-- release v4.5.0, copyright 2014 - 2018 Kartik Visweswaran -->
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>富文本上传</title>

		<link rel="stylesheet" type="text/css" href="../richtext/dist/bootstrap.css">
		<link href="../richtext/dist/summernote.css" rel="stylesheet">

		<script src="../richtext/js/jquery.min.js"></script>
		<script src="../richtext/js/bootstrap.min.js"></script>
		<script src="../richtext/dist/summernote.js"></script>
		<script src="../richtext/dist/lang/summernote-zh-CN.js"></script>
		<style>
			.note-alarm {
				float: right;
				margin-top: 10px;
				margin-right: 10px;
			}
		</style>
		<script>
			$(function() {
				$('.summernote').summernote({
					height: 200,
					tabsize: 2,
					lang: 'zh-CN',
					toolbar: [
						['style', ['bold', 'italic', 'underline', 'clear']],
						['fontsize', ['fontsize']],
						['color', ['color']],
						['para', ['ul', 'ol', 'paragraph']],
						['height', ['height']],
						['insert', ['picture', 'video']]
					],
					//重写图片上传
					callbacks: {
						onImageUpload: function(files, editor, $editable) {

							sendFile(files[0], editor, $editable);

						}
					}

				});
			});
		</script>

	</head>

	<body>

		<div class="container">
			<form enctype="multipart/form-data" id="tf">
				<input type="hidden" name="id" id="id" :value="gameid" />
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="input-group ">
							<span class="input-group-addon">游戏名称:</span>
							<input type="text" class="form-control" id="name" name="name" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">游戏属性:</span>
							<input type="text" class="form-control" id="category" name="category" />

						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">运行内存:</span>
							<input type="text" class="form-control" id="developer" name="developer" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">运行显卡:</span>
							<input type="text" class="form-control" id="grcard" name="grnard" />
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">开  发  商:&nbsp;</span>
							<input type="text" class="form-control" id="open" name="open" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">运  营  商:&nbsp;</span>
							<input type="text" class="form-control" id="platform" name="platform" />
						</div>
					</div>
				</div>
				<br>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="action" value="动作">动作
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="adventure" value="冒险">冒险
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="simulation" value="模拟" >模拟
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="cosplay" value="角色扮演">角色扮演
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="strategy" value="策略">策略
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="pe" value="体育" >体育
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="shooting" value="射击">射击
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="puzzle" value="益智">益智
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="chess" value="棋牌" >棋牌
      </label>

					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="leisure" value="休闲">休闲
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="immediate" value="即时">即时
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="round" value="回合" >回合
      </label>

					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="single" value="单机">单机
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="double" value="双人">双人
      </label>
					<label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="genres" id="online" value="网游" >网游
      </label>
      <button id="reback">重选</button>
				</div>
				<input type="hidden" name="category" id="category" :value="category" />
			</form>
			<br />
			<br />
			<div class="summernote"></div>
			<input type="submit" id="up" value="上传" />
			<input type="button" id="et" value="重置" />
		</div>
	</body>
	<script>
		 


	</script>
	<script type="text/javascript" src="../vue/vue.min.js"></script>
	<script type="text/javascript" src="../js/upload1.js"></script>
	

</html>