<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
<!--  <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
	<!-- 配置全局属性 -->
	<!--  <settings>-->
		<!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<!--<setting name="useGeneratedKeys" value="true" />-->

		<!-- 使用列别名替换列名 默认:true -->
		<!--  <setting name="useColumnLabel" value="true" />-->

		<!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
		<!--<setting name="mapUnderscoreToCamelCase" value="true" />

	</settings>
	<typeAliases>
		<package name="com.digger.pojo" />
	</typeAliases>-->
	
	<!--  新增逆向工程-->
	<context id="context1">
        <!-- 注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
            <property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳 -->
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.191.1:3306/digger"
                        userId="root"
                        password="" />

        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.digger.pojo"
                            targetProject="src/main/java" />
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources" />
        <javaClientGenerator targetPackage="com.digger.dao"
                             targetProject="src/main/java" type="XMLMAPPER" />

        <!-- 如果需要通配所有表 直接用sql的通配符    %即可 -->
        <!--  
        <table schema="" tableName="announcement" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
        <table schema="" tableName="category" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
        <table schema="" tableName="c" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
        <table schema="" tableName="user" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
               -->
               <table  schema="" tableName="%" 
               enableCountByExample="false" 
               enableUpdateByExample="false" 
               enableDeleteByExample="false"
               enableSelectByExample="false" 
               selectByExampleQueryId="false">
               		
               </table>

    </context>
	
</generatorConfiguration>