<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digger.dao.GameMapper">
  <resultMap id="BaseResultMap" type="com.digger.pojo.Game">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="carouseurl" jdbcType="VARCHAR" property="carouseurl" />
    <result column="bgurl" jdbcType="VARCHAR" property="bgurl" />
    <result column="coverurl" jdbcType="VARCHAR" property="coverurl" />
    <result column="videourl" jdbcType="VARCHAR" property="videourl" />
    <result column="surfaceurl" jdbcType="VARCHAR" property="surfaceurl" />
    <result column="opstage" jdbcType="VARCHAR" property="opstage" />
    <result column="developer" jdbcType="VARCHAR" property="developer" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="memory" jdbcType="VARCHAR" property="memory" />
    <result column="grcard" jdbcType="VARCHAR" property="grcard" />
    <result column="cd" jdbcType="VARCHAR" property="cd" />
    <result column="cpu" jdbcType="VARCHAR" property="cpu" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="driver" jdbcType="VARCHAR" property="driver" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="shelftime" jdbcType="TIMESTAMP" property="shelftime" />
    <result column="uploadid" jdbcType="INTEGER" property="uploadid" />
    <result column="discountstate" jdbcType="TINYINT" property="discountstate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.digger.pojo.Game">
    <result column="detailtxt" jdbcType="LONGVARCHAR" property="detailtxt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, category, label, carouseurl, bgurl, coverurl, videourl, surfaceurl, opstage, developer, oper, platform, 
    memory, grcard, cd, cpu, system, driver, state, click, sale, createtime, updatetime, 
    price, shelftime, uploadid, discountstate
  </sql>
  <sql id="Blob_Column_List">
    detailtxt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.digger.pojo.Game" useGeneratedKeys="true" keyProperty="id">
    insert into game (id, name, category, 
      label, carouseurl, bgurl, coverurl, 
      videourl, surfaceurl, opstage, developer, 
      oper, platform, memory, 
      grcard, cd, cpu, system, 
      driver, state, click, 
      sale, createtime, updatetime, 
      price, shelftime, uploadid, 
      discountstate, detailtxt)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR}, #{carouseurl,jdbcType=VARCHAR}, #{bgurl,jdbcType=VARCHAR}, #{coverurl,jdbcType=VARCHAR}, 
      #{videourl,jdbcType=VARCHAR},#{surfaceurl,jdbcType=VARCHAR}, #{opstage,jdbcType=VARCHAR}, #{developer,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{memory,jdbcType=VARCHAR}, 
      #{grcard,jdbcType=VARCHAR}, #{cd,jdbcType=VARCHAR}, #{cpu,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, 
      #{driver,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{click,jdbcType=INTEGER}, 
      #{sale,jdbcType=INTEGER}, now(), now(), 
      #{price,jdbcType=REAL}, #{shelftime,jdbcType=TIMESTAMP}, #{uploadid,jdbcType=INTEGER}, 
      #{discountstate,jdbcType=TINYINT}, #{detailtxt,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.digger.pojo.Game">
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="carouseurl != null">
        carouseurl,
      </if>
      <if test="bgurl != null">
        bgurl,
      </if>
      <if test="coverurl != null">
        coverurl,
      </if>
      <if test="videourl != null">
        videourl,
      </if>
      <if test="surfaceurl != null">
        surfaceurl,
      </if>
      <if test="opstage != null">
        opstage,
      </if>
      <if test="developer != null">
        developer,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="memory != null">
        memory,
      </if>
      <if test="grcard != null">
        grcard,
      </if>
      <if test="cd != null">
        cd,
      </if>
      <if test="cpu != null">
        cpu,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="driver != null">
        driver,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="click != null">
        click,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="shelftime != null">
        shelftime,
      </if>
      <if test="uploadid != null">
        uploadid,
      </if>
      <if test="discountstate != null">
        discountstate,
      </if>
      <if test="detailtxt != null">
        detailtxt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="carouseurl != null">
        #{carouseurl,jdbcType=VARCHAR},
      </if>
      <if test="bgurl != null">
        #{bgurl,jdbcType=VARCHAR},
      </if>
      <if test="coverurl != null">
        #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="surfaceurl != null">
        #{surfaceurl,jdbcType=VARCHAR},
      </if>
      <if test="opstage != null">
        #{opstage,jdbcType=VARCHAR},
      </if>
      <if test="developer != null">
        #{developer,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="memory != null">
        #{memory,jdbcType=VARCHAR},
      </if>
      <if test="grcard != null">
        #{grcard,jdbcType=VARCHAR},
      </if>
      <if test="cd != null">
        #{cd,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null">
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="shelftime != null">
        #{shelftime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadid != null">
        #{uploadid,jdbcType=INTEGER},
      </if>
      <if test="discountstate != null">
        #{discountstate,jdbcType=TINYINT},
      </if>
      <if test="detailtxt != null">
        #{detailtxt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digger.pojo.Game">
    update game
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="carouseurl != null">
        carouseurl = #{carouseurl,jdbcType=VARCHAR},
      </if>
      <if test="bgurl != null">
        bgurl = #{bgurl,jdbcType=VARCHAR},
      </if>
      <if test="coverurl != null">
        coverurl = #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        videourl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="surfaceurl != null">
        surfaceurl = #{surfaceurl,jdbcType=VARCHAR},
      </if>
      <if test="opstage != null">
        opstage = #{opstage,jdbcType=VARCHAR},
      </if>
      <if test="developer != null">
        developer = #{developer,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="memory != null">
        memory = #{memory,jdbcType=VARCHAR},
      </if>
      <if test="grcard != null">
        grcard = #{grcard,jdbcType=VARCHAR},
      </if>
      <if test="cd != null">
        cd = #{cd,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null">
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="shelftime != null">
        shelftime = #{shelftime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadid != null">
        uploadid = #{uploadid,jdbcType=INTEGER},
      </if>
      <if test="discountstate != null">
        discountstate = #{discountstate,jdbcType=TINYINT},
      </if>
      <if test="detailtxt != null">
        detailtxt = #{detailtxt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.digger.pojo.Game">
    update game
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      carouseurl = #{carouseurl,jdbcType=VARCHAR},
      bgurl = #{bgurl,jdbcType=VARCHAR},
      coverurl = #{coverurl,jdbcType=VARCHAR},
      videourl = #{videourl,jdbcType=VARCHAR},
      surfaceurl = #{surfaceurl,jdbcType=VARCHAR},
      opstage = #{opstage,jdbcType=VARCHAR},
      developer = #{developer,jdbcType=VARCHAR},
      oper = #{oper,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      memory = #{memory,jdbcType=VARCHAR},
      grcard = #{grcard,jdbcType=VARCHAR},
      cd = #{cd,jdbcType=VARCHAR},
      cpu = #{cpu,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=REAL},
      shelftime = #{shelftime,jdbcType=TIMESTAMP},
      uploadid = #{uploadid,jdbcType=INTEGER},
      discountstate = #{discountstate,jdbcType=TINYINT},
      detailtxt = #{detailtxt,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digger.pojo.Game">
    update game
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      carouseurl = #{carouseurl,jdbcType=VARCHAR},
      bgurl = #{bgurl,jdbcType=VARCHAR},
      coverurl = #{coverurl,jdbcType=VARCHAR},
      videourl = #{videourl,jdbcType=VARCHAR},
      surfaceurl = #{surfaceurl,jdbcType=VARCHAR},
      opstage = #{opstage,jdbcType=VARCHAR},
      developer = #{developer,jdbcType=VARCHAR},
      oper = #{oper,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      memory = #{memory,jdbcType=VARCHAR},
      grcard = #{grcard,jdbcType=VARCHAR},
      cd = #{cd,jdbcType=VARCHAR},
      cpu = #{cpu,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=REAL},
      shelftime = #{shelftime,jdbcType=TIMESTAMP},
      uploadid = #{uploadid,jdbcType=INTEGER},
      discountstate = #{discountstate,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法：獲取熱銷輪播圖-->
  <select id="toGetHotSaleCarouse" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, carouseurl, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by sale desc limit 0,3
  </select>
  
  <!-- 新增方法：獲取熱銷游戲-->
  <select id="toGetHotSaleGameList" resultType="com.digger.vo.GamelistVO">
    select
    id,name,label,coverurl,opstage,price
    from game
  </select>
  
  <!-- 新增方法：获取所有游戏<火爆新品>集合(待修改)-->
  <select id="toGetHotnewGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, surfaceurl,category, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by sale desc 
  </select>
  
  <!-- 新增方法：获取所有游戏<本周热门>集合(待修改)-->
  <select id="toGetWeekhotGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, surfaceurl,category, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by sale desc 
  </select>
  
  <!-- 新增方法：获取所有游戏<最新上架>集合(待修改)-->
  <select id="toGetNewputGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, surfaceurl,category, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by shelftime desc 
  </select>
  
  <!-- 新增方法：获取所有游戏<折扣促销>集合(待修改)-->
  <select id="toGetMydiscountGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, surfaceurl,category, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime,DATE_FORMAT(starttime,'%Y-%m-%d') starttime, DATE_FORMAT(deadline,'%Y-%m-%d') deadline,discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1 and discountstate = 1
    order by sale desc 
  </select>
  
  <!-- 新增方法：獲取游戲总数-->
  <select id="toGetTotalGame" resultType="int">
    select count(id) from game
  </select>
  
  <!-- 新增方法：获取特惠游戲集合-->
  <select id="toGetDiscountGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, coverurl, DATE_FORMAT(deadline,'%Y-%m-%d') deadline, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where discountstate = 1 and state = 1
    order by deadline
  </select>
  
   <!-- 新增方法：获取游戏预告轮播集合-->
  <select id="toGetNoticeCarouse" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, carouseurl, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by shelftime desc limit 0,3
  </select>
  
   <!-- 新增方法：获取预告游戏集合-->
  <select id="toGetNoticeGameList" resultType="com.digger.vo.CarouseVO">
    select game.id, name, price, coverurl, DATE_FORMAT(shelftime,'%m月') shelftime, discount, discountstate
    from game left join discountlist 
    on game.id=discountlist.gameid
    where state = 1
    order by shelftime desc 
  </select>
  
  <!-- 新增方法：獲取游戏详情-->
  <select id="toGetDetail" resultType="com.digger.vo.GamedetailsVO">
    select game.id,name,category,bgurl,coverurl,surfaceurl,videourl,opstage,developer,oper,platform,memory,grcard,cd,cpu,system,driver,price,DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime,discountstate,detailtxt,discount,starttime,deadline
    from game left join (select * from discountlist where now()>=starttime and deadline>=now()) as a
    on game.id=a.gameid 
    where game.id = #{id}
  </select>
  
  <!-- 新增方法：根据关键词提示  -->
  <select id="searchGamewByword" resultType="com.digger.pojo.Game">
      select id, name
      from game
      where name LIKE "%"#{keyword}"%" and state = 1
      order by sale desc limit 0, 5
  </select>
  
   <!-- 新增方法：根据关键词提示  -->
  <select id="searchGamewByname" resultType="com.digger.vo.CarouseVO">
      select  game.id, name, price, surfaceurl, DATE_FORMAT(shelftime,'%Y-%m-%d') shelftime, discount, discountstate,category
      from game left join discountlist 
      on game.id=discountlist.gameid
      where (name LIKE "%"#{name}"%" or category LIKE "%"#{name}"%") and state = 1
      order by sale desc 
  </select>
  
  <!-- 新增方法：根据游戏名查找待审核的游戏列表  -->
  <select id="unauditedGamelistByName" resultType="com.digger.pojo.Game">
      select  
      *
      from game where name = #{name} and state = 0
  </select>
  
  <!-- 新增方法：根据游戏名查找未上架的游戏列表  -->
  <select id="notOnTheShelfGamelistByName" resultType="com.digger.pojo.Game">
      select  
      *
      from game where name = #{name} and state = 1
  </select>
  
  <!-- 新增方法：根据游戏名查找已上架的游戏列表  -->
  <select id="onTheShelfGamelistByName" resultType="com.digger.pojo.Game">
      select  
      *
      from game where name = #{name} and state = 2
  </select>
  
  <!-- 新增方法：根据游戏名查找下架的游戏列表  -->
  <select id="pullOffShelvesGamelistByName" resultType="com.digger.pojo.Game">
      select  
      *
      from game where name = #{name} and state = 3
  </select>
  
  <!-- 新增方法：查找待审核的游戏列表  -->
  <select id="unauditedGamelist" resultType="com.digger.vo.GameAuditVO">
      select  
      a.*,b.username
      from game as a,user as b where a.state = 0 and a.uploadid = b.id
  </select>
  
  <!-- 新增方法：查找未上架的游戏列表  -->
  <select id="notOnTheShelfGamelist" resultType="com.digger.pojo.Game">
      select  
      *
      from game where state = 1
  </select>
  
  <!-- 新增方法：查找已上架的游戏列表  -->
  <select id="onTheShelfGamelist" resultType="com.digger.pojo.Game">
      select  
      *
      from game where state = 2
  </select>
  
  <!-- 新增方法：查找下架的游戏列表  -->
  <select id="pullOffShelvesGamelist" resultType="com.digger.pojo.Game">
      select  
      *
      from game where state = 3
  </select>
  
  <!-- 新增方法：根据id审核游戏  -->
  <update id="auditGame" parameterType="Integer">
    update game
    set state = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法：根据id上架游戏  -->
  <update id="onTheShelfGame" parameterType="Integer">
    update game
    set state = 2
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法：根据id下架游戏  -->
  <update id="pullOffShelvesGame" parameterType="Integer">
    update game
    set state = 3
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法：根据id查找封面图  -->
  <select id="findCoverimg" resultType="String">
      select  
      coverurl
      from game where id = #{gameid}
  </select>
  
  <!-- 新增方法：游戏点击量+1  -->
  <update id="addclick" parameterType="Integer">
    update game
    set click = click+1
    where id = #{gameid}
  </update>
  
</mapper>