<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digger.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.digger.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="role" jdbcType="TINYINT" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, email, question, answer, createtime, updatetime, role
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.digger.pojo.User">
    insert into user (id, username, password, 
      email, question, answer, 
      createtime, updatetime, role
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      now(), now(), #{role,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.digger.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        now(),
      </if>
      <if test="updatetime != null">
        now(),
      </if>
      <if test="role != null">
        #{role,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digger.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
        updatetime = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digger.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = now(),
      role = #{role,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法:检查用户名是否已注册-->
  <select id="checkUsername" resultType="int" parameterType="string" >
    select count(1) from user
    where username = #{username}
  </select>
  
  <!-- 新增方法:检查邮箱是否已注册-->
  <select id="checkEmail" resultType="int" parameterType="string" >
    select count(1) from user
    where email = #{email}
  </select>
  
  <!-- 新增方法:用户登陆校验-->
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
    select * from user
    where username = #{username}
    and password = #{password}
  </select>
  
  <!-- 新增方法:根据用户名查询密保问题-->
  <select id="selectQuestionByUsername" resultType="string" parameterType="string">
    select
    question
    from user
    where username = #{username}
  </select>
  
  <!-- 新增方法:根据邮箱查询密保问题-->
  <select id="selectQuestionByEmail" resultType="string" parameterType="string">
    select
    question
    from user
    where email = #{email}
  </select>
  
  <!-- 新增方法:根据用户名查询密保答案-->
  <select id="checkAnswerByUsername" resultType="int" parameterType="string">
    select
    *
    from user
    where username = #{username} and question = #{question} and answer = #{answer}
  </select>
  
  <!-- 新增方法:根据邮箱查询密保答案-->
  <select id="checkAnswerByEmail" resultType="string" parameterType="string">
    select
    *
    from user
    where email = #{username} and question = #{question} and answer = #{answer}
  </select>
  
  <!-- 新增方法:根据用户名修改密码-->
  <update id="updatePasswordByUsername" parameterType="String">
    update user
    set password = #{md5Password}
    where username = #{username}
  </update>
  
  <!-- 新增方法:根据邮箱修改密码-->
  <update id="updatePasswordByEmail" parameterType="String">
    update user
    set password = #{md5Password}
    where email = #{username}
  </update>
  
  <!-- 新增方法:防止横向越权,要校验一下这个用户的旧密码,一定要指定是这个用户-->
  <select id="checkPassword" resultType="int" parameterType="map">
    select
    count(1)
    from user
    where password = #{md5EncodeUtf8}
    and id = #{id}
  </select>
  
</mapper>