<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digger.dao.WishMapper">
  <resultMap id="BaseResultMap" type="com.digger.pojo.Wish">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gameid" jdbcType="INTEGER" property="gameid" />
    <result column="coverimg" jdbcType="VARCHAR" property="coverimg" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gameid, coverimg, userid, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wish
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wish
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.digger.pojo.Wish">
    insert into wish (id, gameid, coverimg, 
      userid, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{gameid,jdbcType=INTEGER}, #{coverimg,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.digger.pojo.Wish">
    insert into wish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gameid != null">
        gameid,
      </if>
      <if test="coverimg != null">
        coverimg,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gameid != null">
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="coverimg != null">
        #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digger.pojo.Wish">
    update wish
    <set>
      <if test="gameid != null">
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="coverimg != null">
        coverimg = #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digger.pojo.Wish">
    update wish
    set gameid = #{gameid,jdbcType=INTEGER},
      coverimg = #{coverimg,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新增方法：获取该游戏是否被当前用户加入愿望清单-->
  <select id="select" parameterType="java.lang.Integer" resultType="Integer">
    select count(id)
    from wish
    where gameid = #{gameid,jdbcType=INTEGER} and userid = #{userid,jdbcType=INTEGER}
  </select>
  
  <!-- 新增方法：根据游戏id和用户id删除从愿望清单删除-->
  <delete id="delete" parameterType="java.lang.Integer">
    delete from wish
    where userid=#{userid} and gameid=#{gameid}
  </delete>
  
  <!-- 新增方法：获取该游戏是否被当前用户加入愿望清单-->
  <select id="toGetMyselfWishGame" parameterType="java.lang.Integer" resultType="com.digger.vo.WishVO">
   <!--  select 
    wish.gameid,wish.coverimg,game.price,game.discountstate,game.name,discountlist.discount 
    from wish 
    left join (game left join discountlist on game.id=discountlist.gameid and now()>=starttime and deadline>=now()) on wish.gameid = game.id and wish.userid = #{userid}
   -->
    select 
    wish.gameid,wish.coverimg,price,discountstate,name,discount 
    from wish,
    (select game.id,price,discountstate,name,discount from game left join discountlist on game.id=discountlist.gameid and now()>=starttime and deadline>=now()) as a 
    where wish.gameid = a.id and wish.userid = #{userid}
   </select>
  
  
  <!-- 新增方法：用户购买游戏后删除用户愿望清单的这款游戏-->
  <delete id="deleteWish">
   DELETE from wish where gameid in (select gameid from `order` where ordernum=#{ordernum}) 
   and userid in (select userid from `order` WHERE ordernum = #{ordernum})
  </delete>
  
   <!-- 新增方法：用户购买游戏后删除用户愿望清单的这款游戏-->
  <delete id="deleteWish1">
   DELETE from wish where gameid in (select gameid from `order` where ordernum=#{ordernum}) 
   and userid = #{targetid}
  </delete>
</mapper>